.container {
  position: relative; }
  .container img {
    top: 50%;
    left: 25%;
    transform: translate(-25%, 50%);
    width: 25em;
    height: auto;
    position: absolute;
    animation-name: crossfade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s; }
    .container img:nth-of-type(1) {
      animation-delay: 6s; }
    .container img:nth-of-type(2) {
      animation-delay: 4s; }
    .container img:nth-of-type(3) {
      animation-delay: 2s; }
    .container img:nth-of-type(4) {
      animation-delay: 0; }

@keyframes crossfade {
  0% {
    opacity: 1; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  92% {
    opacity: 0; }
  100% {
    opacity: 1; } }
